name: CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - python: 3.8
            env:
              TOX_ENV: flake8
          - python: 3.8
            env:
              TOX_ENV: isort
          - python: 3.8
            env:
              DJANGO: dj22
          - python: 3.8
            env:
              DJANGO: dj22
          - python: 3.8
            env:
              DJANGO: dj22
          - python: 3.8
            env:
              DJANGO: dj22
          - python: 3.8
            env:
              DJANGO: dj30
          - python: 3.8
            env:
              DJANGO: dj31
          - python: 3.8
            env:
              DJANGO: dj32

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}

      - name: Install dependencies
        run: |
          pip install coverage isort tox
          if [[ "${{ matrix.python }}" == "3.8" ]]; then export PY_VER=py38; fi
          if [[ "${{ matrix.python }}" == "3.8" ]]; then export PY_VER=py38; fi
          if [[ "${{ matrix.python }}" == "3.8" ]]; then export PY_VER=py38; fi
          if [[ "${{ matrix.python }}" == "3.8" ]]; then export PY_VER=py38; fi
          if [[ "${DJANGO}z" != "z" ]]; then export TOX_ENV=$PY_VER; fi

      - name: Run tests
        run: tox -e $TOX_ENV

      - name: Upload coverage
        run: |
          bash <(curl -s https://codecov.io/bash)
