name: Python CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ["3.8", "3.8", "3.8", "3.8", "3.8", "3.9", "pypy", "pypy-3.6"]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python }}
    - name: Cache hypothesis
      uses: actions/cache@v2
      with:
        path: $HOME/.hypothesis
        key: ${{ matrix.python }}-hypothesis
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade --upgrade-strategy only-if-needed pytest pytest-catchlog
        pip install .
    - name: Run tests
      run: py.test
    - name: Set environment variables
      run: |
        export HYPOTHESIS_STORAGE_DIRECTORY=$HOME/.hypothesis
        echo "HYPOTHESIS_STORAGE_DIRECTORY=$HOME/.hypothesis" >> $GITHUB_ENV

