name: Python Package
on:
  push:
    tags:
      include:
        - '*'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8, 3.8, 3.9]
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run tests
      run: pytest
    - name: Build package
      run: |
        python setup.py sdist bdist_wheel
    - name: Deploy to PyPI
      if: ${{ matrix.python-version == '3.8' && github.event_name == 'push' && github.ref_type == 'tag' }}
      uses: pypa/pypi-publish@v1
      with:
        username: __token__
        password: ${{ secrets.PYPI_TOKEN }}
        distributions: sdist bdist_wheel
        edge: true
