name: Python CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: [3.8, 3.8, 3.8, 3.8, 3.8, 3.8, pypy-3.6]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python }}
    - name: Install coverage
      run: pip install coverage
    - name: Run tests
      run: |
        coverage run --source=olefile -m nose tests
    - name: Upload coverage to coveralls
      if: ${{ success }}
      run: |
        pip install coveralls
        coveralls
    - name: Generate coverage report
      run: coverage report
    - name: Install linters
      run: pip install pycodestyle pyflakes
    - name: Run pyflakes
      run: pyflakes .
    - name: Run pycodestyle
      run: pycodestyle --statistics --count .

