name: CI
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ["3.8", "3.8"]
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        fetch-depth: 10
    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python }}
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y git build-essential automake libtool python-dev gettext swig
        pip install flake8
    - name: Run checks
      run: |
        flake8 --version
        echo "compiling AutoBouquetsMaker enigma2 plugin"
        python -m compileall .
        find . -type f -name "*.po" -exec msgfmt {} -o {}.mo \;
        flake8 --ignore=W191,E128,E501,E722 . --exit-zero
        echo "done."
