name: Python CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8, 3.8, 3.8, 3.8]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        pip install tox coveralls tox-travis
    - name: Lint
      run: |
        tox -e flake8
        tox -e isort
    - name: Test
      run: tox
    - name: Upload coverage
      run: coveralls
      if: ${{ success }}
    - name: Before deploy
      run: pip install django
    - name: Deploy to PyPI
      if: ${{ github.event_name == 'push' && github.ref_type == 'tag' && matrix.python-version == '3.8' }}
      run: |
        python setup.py sdist bdist_wheel
        twine upload dist/*
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
