name: Python CI
on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: [3.8, 3.8, 3.8]
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python }}
    - run: pip install bandit flake8 python-coveralls coverage liccheck
    - run: pip install -r requirements.txt
    - run: python setup.py bdist_wheel
    - run: pip install dist/feedgen*
    - run: make test
    - run: liccheck -s .licenses.ini
    - run: python -m feedgen
    - run: python -m feedgen atom
    - run: python -m feedgen rss
    - run: coveralls
