name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - python: 3.8
            os: ubuntu-14.04
          - python: 3.8
            os: ubuntu-22.04
          - python: 3.8
            os: ubuntu-22.04
          - python: 3.8
            os: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Run tests
        run: |
          python -m unittest test_asserts
          mypy asserts test_asserts.py
          flake8 asserts test_asserts.py
          python -m doctest asserts/__init__.py
