name: Python CI
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.8", "3.8", "3.9"]
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ matrix.python-version }}-pip
        restore-keys: ${{ matrix.python-version }}-
    - run: |
        pip install -U pip wheel coverage codecov
        pip install -r requirements.txt pytest pytest-mock
        python setup.py develop
    - run: |
        coverage run -m py.test -v tests/
        codecov
