name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - python: "3.8"
            env: TOXENV=black
          - python: "3.8"
            env: TOXENV=flake8
          - python: "3.8"
            env: TOXENV=mypy
          - python: "3.8"
            env: TOXENV=isort
          - python: "3.8"
            env: TOXENV=py38
          - python: "3.8"
            env: TOXENV=py38
          - python: "3.8"
            env: TOXENV=py38
          - python: 3.8
            env: TOXENV=py38
          - python: 3.9
            env: TOXENV=py39
          - python: pypy-3.6
            env: TOXENV=pypy-3.6
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Install tox
        run: pip install tox
      - name: Run tests
        run: |
          # Extract the TOXENV value from the matrix.env
          TOXENV_VALUE=$(echo ${{ matrix.env }} | cut -d'=' -f2)
          export TOXENV=$TOXENV_VALUE
          tox
      - name: Upload coverage
        run: |
          pip install coveralls
          coveralls
        if: ${{ success }}
