name: CI

on:
  push:
    branches:
      - main
    tags: true

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8, 3.8, 3.9, 3.10]
        toxenv: [py38-dj32, py38-dj32, py39-dj32, py310-dj32]
    env:
      TOXENV: ${{ matrix.toxenv }}
    steps:
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - run: pip install coverage codecov coveralls tox
      - run: |
          ./bin/fake-server &
          tox
      - run: coveralls
      - run: codecov
      - name: Set output
        id: build_output
        run: echo "::set-output name=toxenv::$TOXENV"

  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: ${{ github.event_name == 'push' && github.ref_type == 'tag' }}
    steps:
      - uses: actions/setup-python@v2
        with:
          python-version: 3.10
      - run: pip install twine
      - run: |
          python setup.py sdist bdist_wheel
          twine upload dist/*
        if: ${{ needs.build.outputs.toxenv == 'py310-dj32' }}
      - name: Upload to PyPI
        uses: pypa/upload-to-pypi@v1
        with:
          username: ${{ secrets.PYPI_USERNAME }}
          password: ${{ secrets.PYPI_PASSWORD }}
          files: dist/*
        if: ${{ needs.build.outputs.toxenv == 'py310-dj32' }}
