name: Python Tests
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - python: 3.8
            TOX_ENV: py38
          - python: 3.8
            TOX_ENV: py38
    steps:
      - uses: actions/checkout@v2
      - name: Install tox
        run: pip install tox
      - name: Run tests
        run: tox -e $TOX_ENV
