name: Python package
on:
  push:
    branches:
      - main
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.8"]
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libicu-dev
        pip install -e .
        pip install pyicu coverage nose twine
    - name: Run tests
      run: |
        nosetests --with-coverage --cover-package=fingerprints --cover-erase
    - name: Upload to PyPI
      if: ${{ github.event_name == 'push' && github.ref_type == 'tag' && github.ref == github.event.head_ref }}
      run: |
        python setup.py sdist bdist_wheel
        twine upload dist/*
