name: Python Tests
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
        - python: "3.8"
        - python: "3.8"
        - python: "3.8"
        - python: "3.8"
        - python: "3.8"
        - python: "3.8"
        - python: "3.8"
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python }}
    - name: Install tox-travis
      run: pip install tox-travis
    - name: Run tox
      run: tox

  lint:
    runs-on: ubuntu-latest
    env:
      TOXENV: lint
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install tox-travis
      run: pip install tox-travis
    - name: Run tox
      run: tox
