name: Python CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8, 3.8, 3.8]
    steps:
    - uses: actions/checkout@v2
    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: pip install -r dev-requirements.txt
    - name: Run flake8
      run: flake8 sendgrid_backend/
    - name: Run isort
      run: isort -c ./
    - name: Run black
      run: black --check ./
    - name: Run mypy
      run: mypy sendgrid_backend/
    - name: Run tox
      run: tox
