name: Python CI

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.8", "3.8"]
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Before install
      run: |
        python3 setup.py install
        sudo apt-get -y update
    - name: Install dependencies
      run: |
        pip install pytest-cov
        pip install .[ja]
    - name: Run tests
      run: |
        python3 -m pytest
        ./test.sh
