name: Python Tests
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.8", "3.8", "3.8", "3.8", "3.8", "3.9", "pypy", "pypy-3.6"]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: pip install flake8
    - name: Run tests
      run: python -m pytest -v .
    - name: Lint with flake8
      run: flake8
