name: Python application
on:
  push
  pull_request
jobs:
  build-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ["3.8", "3.8", "3.8", "3.8"]
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python }}
    - name: Install dependencies
      run: |
        pip3 install .
        pip3 install pytest
    - name: Run tests
      run: |
        JUPYTER_TOKEN=secret jupyter-notebook --config=./tests/resources/jupyter_server_config.py &
        sleep 5
        pytest -v
      env:
        JUPYTER_TOKEN: secret
