name: Python CI
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu:22.04
    strategy:
      matrix:
        python: [3.8, 3.8]
        fast_finish: true
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python }}
    - name: Install dependencies
      run: |
        pip install coverage codecov
    - name: Install package
      run: python setup.py develop
    - name: Run tests
      run: coverage run -m unittest discover
    - name: Upload coverage
      run: codecov
