name: Python CI

on:
  push:
    branches:
      - main
    tags:
      - '*'

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: [ 3.8, 3.8, 3.8, 3.8, 3.8]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Install dependencies
        run: |
          apt-get update
          apt-get install -y make
          pip install simplejson minimock coverage
      - name: Run tests
        run: make test

  deploy:
    runs-on: ubuntu-latest
    needs: test
    if: ${{ github.event_name == 'push' && github.ref_type == 'tag' }}
    steps:
      - uses: actions/checkout@v2
      - name: Deploy to PyPI
        uses: pypa/action-pypi-publish@v1
        with:
          username: "gpodder"
          password: ${{ secrets.PYPI_PASSWORD }}
          repository: pypi
