name: Python Tests
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  test:
    runs-on: ubuntu:22.04
    strategy:
      matrix:
        include:
          - python-version: 3.8
            env: TOX_SKIP_ENV=typeshed
          - python-version: 3.8
            env: TOX_SKIP_ENV=typeshed
          - python-version: 3.8
            env: ''
          - python-version: 3.8
            env: ''
    env:
      TOX_SKIP_ENV: ${{ matrix.env }}
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          pip install tox
      - name: Run tests
        run: tox
