name: Python CI
on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - python-version: 3.8
            toxenv: py38
          - python-version: 3.8
            toxenv: py38
          - python-version: 3.8
            toxenv: py38
          - python-version: 3.8
            toxenv: py38
          - python-version: 3.8
            toxenv: py38
    env:
      TOXENV: ${{ matrix.toxenv }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: ./.travis/install
      - name: Run tests
        run: ./.travis/run tox
      - name: Upload coverage
        if: ${{ success }}
        run: coveralls
