name: Python CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ '3.8', '3.8', '3.8', '3.8', '3.9', 'pypy-3.6-3.8']
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          pip install tox-travis codecov
      - name: Run tests
        run: tox
      - name: Upload coverage
        run: |
          VERSION="python_${{ matrix.python-version }}"
          VERSION=${VERSION//[^[:alnum:]]/}
          codecov --required --flags $VERSION || (sleep 5 && codecov --required --flags $VERSION) || (sleep 10 && codecov --required --flags $VERSION) || (sleep 20 && codecov --required --flags $VERSION) || (sleep 30 && codecov --required --flags $VERSION)
