name: Python Tests and Linting

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8, 3.8, 3.9]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        pip install codecov
        pip install -r requirements.txt
        pip install -r test-requirements.txt
    - name: Lint with flake8
      run: |
        flake8 stockstats.py test.py
    - name: Run tests
      run: |
        py.test --cov=./ test.py
    - name: Upload coverage
      run: |
        codecov

