name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ["3.8", "3.8", "3.8", "3.8", "3.8"]
        version: ["19.3.8", "18.14.9"]
    services:
      - docker
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}

      - name: Cache pip
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ matrix.python }}-pip
          restore-keys: |
            ${{ matrix.python }}-pip

      - name: Login to Docker
        if: ${{ env.DOCKER_PASSWORD }}
        run: |
          echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin

      - name: Start ClickHouse Server
        run: |
          docker run -d -p 127.0.0.1:9000:9000 -p 127.0.0.1:8123:8123 --name test-clickhouse-server --ulimit nofile=262144:262144 yandex/clickhouse-server:${{ matrix.version }}
          docker ps -a

      - name: Modify setup.cfg
        run: |
          sed -i 's/^host=localhost$/host=clickhouse-server/' setup.cfg

      - name: Update /etc/hosts
        run: |
          echo '127.0.0.1 clickhouse-server' | sudo tee /etc/hosts > /dev/null

      - name: Install dependencies
        run: |
          pip install --upgrade pip setuptools
          pip install flake8 flake8-print coveralls

      - name: Run flake8
        run: flake8

      - name: Run tests
        run: |
          coverage run --source=clickhouse_sqlalchemy setup.py test

      - name: Upload coverage
        run: coveralls
