name: Python CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - python: 3.8
            env: TOXENV=py38-django22
          - python: 3.8
            env: TOXENV=py38-django22
          - python: 3.8
            env: TOXENV=py38-django22
          - python: 3.9
            env: TOXENV=py39-django22
          - python: 3.8
            env: TOXENV=py38-django30
          - python: 3.8
            env: TOXENV=py38-django30
          - python: 3.8
            env: TOXENV=py38-django30
          - python: 3.9
            env: TOXENV=py39-django30
          - python: 3.8
            env: TOXENV=py38-django31
          - python: 3.8
            env: TOXENV=py38-django31
          - python: 3.8
            env: TOXENV=py38-django31
          - python: 3.9
            env: TOXENV=py39-django31
          - python: 3.8
            env: TOXENV=py38-django32
          - python: 3.8
            env: TOXENV=py38-django32
          - python: 3.8
            env: TOXENV=py38-django32
          - python: 3.9
            env: TOXENV=py39-django32
          - python: 3.8
            env: TOXENV=py38-django22
            arch: ppc64le
          - python: 3.8
            env: TOXENV=py38-django22
            arch: ppc64le
          - python: 3.8
            env: TOXENV=py38-django22
            arch: ppc64le
          - python: 3.9
            env: TOXENV=py39-django22
            arch: ppc64le
          - python: 3.8
            env: TOXENV=py38-django30
            arch: ppc64le
          - python: 3.8
            env: TOXENV=py38-django30
            arch: ppc64le
          - python: 3.8
            env: TOXENV=py38-django30
            arch: ppc64le
          - python: 3.9
            env: TOXENV=py39-django30
            arch: ppc64le
          - python: 3.8
            env: TOXENV=py38-django31
            arch: ppc64le
          - python: 3.8
            env: TOXENV=py38-django31
            arch: ppc64le
          - python: 3.8
            env: TOXENV=py38-django31
            arch: ppc64le
          - python: 3.9
            env: TOXENV=py39-django31
            arch: ppc64le
          - python: 3.8
            env: TOXENV=py38-django32
            arch: ppc64le
          - python: 3.8
            env: TOXENV=py38-django32
            arch: ppc64le
          - python: 3.8
            env: TOXENV=py38-django32
            arch: ppc64le
          - python: 3.9
            env: TOXENV=py39-django32
            arch: ppc64le

    steps:
      - uses: actions/checkout@v3
      - name: Cache pip
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ hashFiles('**/requirements.txt') }}
      - name: Install tox
        run: pip install tox
      - name: Run tox
        run: tox

