name: Python CI
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ["3.8", "3.8", "3.8", "3.9"]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python }}
    - name: Install Poetry
      run: pip install poetry
    - name: Install dependencies
      run: poetry install -v
    - name: Lint with flake8
      run: |
        poetry run flake8 example/
        poetry run flake8 tests/
    - name: Run tests
      run: poetry run pytest
