name: CI
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python: ["3.8", "3.8", "3.8", "3.8", "pypy-3.6"]
        django: ["2.2", "3.0", "3.1", "main"]
        exclude:
          - python: "3.8"
            django: "3.0"
          - python: "3.8"
            django: "3.1"
          - python: "3.8"
            django: "main"
        include:
          - python: "pypy-3.6"
            django: "2.2"
            allow-failure: true
          - python: "pypy-3.6"
            django: "3.0"
            allow-failure: true
          - python: "pypy-3.6"
            django: "3.1"
            allow-failure: true
          - python: "pypy-3.6"
            django: "main"
            allow-failure: true
          - python: "3.8"
            django: "main"
            allow-failure: true
          - python: "3.8"
            django: "main"
            allow-failure: true
          - python: "3.8"
            django: "main"
            allow-failure: true
          - python: "3.8"
            django: "main"
            allow-failure: true
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Cache pip
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ matrix.python }}-${{ matrix.django }}
          restore-keys: |
            ${{ matrix.python }}-
      - name: Install dependencies
        run: |
          pip install tox-travis
      - name: Run tests
        run: tox
