name: Python CI
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8, 3.8, 3.8, 3.9, 3.10]
        arch: [amd64, ppc64le]
        env: [WITHOUT_EXTENSION=0, WITHOUT_EXTENSION=1]
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - run: |
      pip install coveralls pytest
      python setup.py develop
    - run: |
      coverage run --source=mwparserfromhell -m pytest
    - run: coveralls
      if: ${{ success() }}
