name: CI
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.8", "3.8", "3.9", "3.10"]
        tox-env:
          - flake8
          - check_rst
          - coverage
          - py38-django111
          - py38-django22
          - py38-django111
          - py38-django22
          - py39-django22
          - py310-django32
          - py39-django32
          - py310-django40
          - py310-django41
        include:
          - python-version: 3.8
            tox-env: py38-django111
            arch: ppc64le
          - python-version: 3.8
            tox-env: py38-django22
            arch: ppc64le
          - python-version: 3.8
            tox-env: py38-django111
            arch: ppc64le
          - python-version: 3.8
            tox-env: py38-django22
            arch: ppc64le
          - python-version: 3.9
            tox-env: py39-django22
            arch: ppc64le
          - python-version: 3.10
            tox-env: py310-django32
            arch: ppc64le
    env:
      TOX_ENV: ${{ matrix.tox-env }}
      PKGS: ""
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Cache pip
        uses: actions/cache@v2
        with:
          path: $HOME/.cache/pip
          key: ${{ matrix.python-version }}-pip
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools --upgrade
          pip install tox
      - name: Cache tox
        uses: actions/cache@v2
        with:
          path: $HOME/build/nitmir/django-cas-server/.tox/${{ env.TOX_ENV }}
          key: ${{ matrix.python-version }}-${{ env.TOX_ENV }}
      - name: Install packages
        run: pip install $PKGS
      - name: Run tests
        run: |
          travis_retry pip install setuptools --upgrade
          pip install tox $PKGS
          pip freeze
          tox -e $TOX_ENV
      - name: View logs
        run: |
          cat tox_log/*.log
