name: Python CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python: [3.9, 3.8, 3.8, 3.8, pypy-3.6]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python }}
    - name: Cache pip
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ matrix.python }}-pip
        restore-keys: |
          ${{ matrix.python }}-pip
    - name: Install dependencies
      run: |
        pip wheel -r requirements.txt
        pip install -r requirements.txt
    - name: Run tests
      run: python setup.py test
