name: Build and Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - python: 3.8
            numpy_version: 1.15.4
          - python: 3.8
            numpy_version: 1.15.4
          - python: 3.8
            numpy_version: 1.15.4
          - python: 3.9
            numpy_version: 1.19.4
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Install dependencies
        run: |
          pip install numpy==${{ matrix.numpy_version }} scipy matplotlib>=3 cython>=0.28
          ./dev/build.sh
      - name: Run tests
        run: ./dev/test.sh
