name: Python CI
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.8', '3.8', '3.9', '3.10', '3.11']
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: false
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        pip install tox-travis
    - name: Run tests
      run: tox
    - name: Slack notification
      run: |
        curl -X POST -H 'Content-Type: application/json' --data '{"text":"Build completed"}' ${{ secrets.SLACK_WEBHOOK_URL }}
