name: Test Python Package
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ["3.8", "3.8", "3.8", "3.8"]
    env:
      PIP_CACHE_DIR: $HOME/.cache/pip
    steps:
      - uses: actions/checkout@v2
      - name: Remove debug log
        run: rm -f $HOME/.cache/pip/log/debug.log
      - name: Cache pip
        uses: actions/cache@v2
        with:
          path: $HOME/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run tests
        run: make test
      - name: Save pip cache
        uses: actions/cache@v2
        with:
          path: $HOME/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
