name: Python Tests
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-focal
    strategy:
      matrix:
        python-version: [3.8, 3.8, 3.8, 3.9]
    services:
      - postgresql:13
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y postgresql-13
          pip install .
      - name: Before script
        run: |
          ssh-keygen -f ~/.ssh/id_rsa -N ""
          cp ~/.ssh/id_rsa.pub ~/.ssh/authorized_keys
          ssh -o StrictHostKeyChecking=no localhost id
      - name: Run tests
        run: py.test tests
      - name: Notify IRC
        uses: actions/notify-irc@v1
        with:
          channels: "irc.freenode.org#bundlewrap"
          use_notice: true
          skip_join: true
