name: Python Tests
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - python: 3.8
            runs-on: ubuntu-latest
          - python: 3.8
            runs-on: ubuntu-latest
          - python: 3.8
            runs-on: ubuntu-latest
          - python: 3.8
            runs-on: ubuntu-latest
          - python: pypy-3.6
            runs-on: ubuntu-latest
          - python: 3.8
            runs-on: ubuntu-22.04
          - python: 3.8
            runs-on: ubuntu-22.04
          - python: 3.8
            runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Install tox
        run: pip install tox
      - name: Run tests
        run: tox -e py
